/*Fontes utilizadas*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@600&display=swap');


body{ /*Background do projeto*/
  background-color: #E5E5E5;
}
h1 {/*Referente ao tÃ­tulo do procure um tÃ©cnico*/
  position: absolute;
  width: 385px;
  height: 166px;
  left: 136px;
  top: 75px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 32px;
  font-size: 15;
  color: #53575D;}

h2 {
  position: absolute;
  width: 385px;
  height: 166px;
  left: 136px;
  top: 245px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 32px;
  font-size: 15;
  color: #53575D;
}

h3{
font-family: Raleway;
text-decoration:none;
text-decoration-style: none;
text-decoration-color: #53575D;
position: absolute;
width: 385px;
height: 166px;
left: 136px;
top: 345px;
font-style: normal;
font-weight: normal;
color:#53575D

}

button{
position: static;
width: 385px;
height: 166px;
left: 136px;
top: 245px;
border: 2px #53575D;
background: #FBFCFF;
}

#map {
 height: 50%;
 }
